html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* 页面主体部分 */
.content-box {
    position: absolute;
    left: 200px;      /* 控制左侧二级菜单栏的宽度 */
    right: 0;
    top: 60px;
    bottom: 0;
    padding: 10px 10px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
  }
  .content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .content-collapse {
    left: 65px;
  }
  .container {
    padding: 20px;    /* 控制主体部分与主体边框的距离 */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* 表格栏样式 */
  .table-container {
    margin-top: 20px;
  }
  
  /* 分页栏样式 */
  .pagination-area {
    width: 100%;
    text-align: right;
    margin: 20px 0 10px 0;
  }
  
  /* 测试主体页面的 div 样式 */
  .test-div{
    margin: 15px;
  }
  